[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "*"
dataclasses-jsonschema = "*"
pydantic = "*"

[dev-packages]
ipdb = "*"
flit = "*"

[requires]
python_version = "3.9"
